code/src/main/resources/eurovoc/eurovoc_xml/domaine.dtd


<!-- DTD pour le fichier des domaines  -->

<!ELEMENT DOMAINES (RECORD+)>

<!ELEMENT RECORD (DOMAINE_ID, LIBELLE)> <!-- ev:Domain -->

<!ELEMENT DOMAINE_ID		(#PCDATA)><!-- dc:identifer -->

<!ELEMENT LIBELLE			(#PCDATA)> <!-- skos:prefLabel[@xml:lang = /DOMAINES/@LNG] -->

<!ATTLIST DOMAINES

			LNG				CDATA		#REQUIRED
			VERSION			CDATA		#REQUIRED >
<!-- calculate version on change, initial value is config, algorithm is needed (date ?, thes version?) -->
